// const variables
$maxwidth: 1400px;
$maxHeight: 1400px;

// color
$blue: #ffe;
$themeColor: #009688;
$whiteColor: #ffffff;
$blackColor: #000000;

// Social color
$facebook: #3b5998;
$twitter: #3cf;
$github: #211f1f;
$linkedin: #0077b5;
$instagram: #ea6c83;
