// const variables
$maxwidth: 1400px;
$maxHeight: 1400px;

// color
$blue: #ffe;
$themeColor: #009688;
$whiteColor: #ffffff;
$blackColor: #000000;

// Social color
$facebook: #3b5998;
$twitter: #1da1f2;
$github: #6e5494;
$linkedin: #00a0dc;
$instagram: #ea6c83;
